body {
	margin: 0;
	padding:0;
	height:100%;
}

/* hero */

.hero {
	height: 10%;
	min-width:100%;
	background-color: rgba(255,68,117,1);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
0px 36px, 4px 2px, 29px 6px, 33px 30px;
background-image: 
linear-gradient(335deg, rgba(46,0,10,1) 23px, transparent 23px),
linear-gradient(155deg, rgba(46,0,10,1) 23px, transparent 23px),
linear-gradient(335deg, rgba(46,0,10,1) 23px, transparent 23px),
linear-gradient(155deg, rgba(46,0,10,1) 23px, transparent 23px),

linear-gradient(335deg, rgba(46,0,10,1) 10px, transparent 10px),
linear-gradient(155deg, rgba(46,0,10,1) 10px, transparent 10px),
linear-gradient(335deg, rgba(46,0,10,1) 10px, transparent 10px),
linear-gradient(155deg, rgba(46,0,10,1) 10px, transparent 10px);
}

.hero img {
	border: 5px solid rgba(255,68,117,1);
	border-radius: 0;
 	max-width: 80px;
 	height: auto;
 	margin: 50px auto;
 }

.hero-container {
	margin: 0 auto;
	text-align: center;
}

.overlay#hero {
	height: 10%;
	min-width:100%;
	background-color: rgba(255,255,255,.2)	
}

.container {
	margin: 0 auto;
	width: 90%;
}


/* cloudwok */

.cloudwok-dropzone {
	width: 100%;
	height: 200px;
	padding: 30px 0;
}

.filepicker {
	padding: 10px;
	background-color: ;
	border: 2px solid rgba(255,68,117,1);
}

.text-instruction {
	color: rgba(255,68,117,1);
}

.cloudwok-embed .btn-success,
.cloudwok-embed .btn-primary {
	color: #fff;
    background-color: rgba(46,0,10,1);
    border-color: rgba(46,0,10,1);
    margin: 0px 20px;
}

.cloudwok-embed .btn-primary {
	margin: 40px;
}


.cloudwok-embed .btn-files-refresh {
	color: rgba(46,0,10,1);
	background-color: white;
	border-color: white;
}

.cloudwok-embed .btn-primary:hover,
.cloudwok-embed .btn-success:hover {
	background-color: rgba(255,68,117,1);
	border-color: rgba(255,68,117,1);
}

.cloudwok-embed .btn-files-refresh:hover,
.cloudwok-embed .btn-files-refresh:active  {
	color: rgba(255,68,117,1);
	background-color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,1);
}

small {
	display: none;
}

.cloudwok-embed .form-control {
	margin-top: 20px; 
	padding: 10px 20px;
}

.dropbox {
	padding-bottom: 150px;
}

.cloudwok-embed .form-control:focus {
	border-color:rgba(255,219,77,1);
	box-shadow: inset 0 1px 1px rgba(255,219,77,.6);
}

/* footer */

#wrapper {
	min-height:100%;
	position:relative;
}

.overlay#footer {
	position:fixed;
	bottom:0;
	left:0;
	height: 150px;
	min-width:100%;
	background-color: rgba(255,255,255,.2)	
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	height: 150px;
	min-width:100%;
	background-color: rgba(255,68,117,1);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
0px 36px, 4px 2px, 29px 6px, 33px 30px;
background-image: 
linear-gradient(335deg, rgba(46,0,10,1) 23px, transparent 23px),
linear-gradient(155deg, rgba(46,0,10,1) 23px, transparent 23px),
linear-gradient(335deg, rgba(46,0,10,1) 23px, transparent 23px),
linear-gradient(155deg, rgba(46,0,10,1) 23px, transparent 23px),

linear-gradient(335deg, rgba(46,0,10,1) 10px, transparent 10px),
linear-gradient(155deg, rgba(46,0,10,1) 10px, transparent 10px),
linear-gradient(335deg, rgba(46,0,10,1) 10px, transparent 10px),
linear-gradient(155deg, rgba(46,0,10,1) 10px, transparent 10px);
	vertical-align: baseline;
	}

footer p {
	color: rgba(255,255,255,1);
	line-height: 2;
	font-family: 
}